<div class="container">
  <h1>Garden Optimizer Home Page</h1>
  <p>Check out our garden plans! In our prototype webpage, we have started with planning plant production.  This should allow you to see how harvest periods may overlap so you can plan labor accordingly.</p>
  <%= link_to "Privacy Policy", privacy_policy_path, class:"btn btn-secondary"%>
  <%= link_to "Gardens", gardens_path, class:"btn btn-primary"%>
</div>

