<div class="container">
    <h1>Privacy Policy</h1>
    <p>As of now, this is a development site, so there really can't be any guarantee of privacy.  Don't use any real information you don't want someone else to get.</p>
    <%= link_to "Home", root_path%>
</div>